{{ extends "global/Page.html" }}

{{ block title }}
<div style="text-align: center;">
    <h1>Round {{ player.round_number }} out of 10</h1>
</div>
{{ endblock }}


{{ block content }}

<ul>
    <li><i>Please select a ball by clicking on it to reveal its color</i></li>
</ul>

<br>

<style>
    .submitButton {
         text-align: center;
         background-color: #007BFF;
         color: white;
         border: none;
         padding: 10px 20px;
         cursor: pointer;
         outline: none;
         float: right;
         border-radius: 8px;
    }
    .submitButton:disabled {
         background: linear-gradient(to right, #B0B0B0 0%, #D0D0D0 100%);
         color: #FFFFFF;
         cursor: not-allowed;
         box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
         border-radius: 8px;
    }
    .ball-container {
        width: 240px;
        height: 340px;
        position: relative;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transform: translateX(340px);
    }
    .column {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 5px;
    }
    .ball {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: gray;
        margin: 5px 0;
        display: inline-block;
        cursor: pointer;
    }
    .ball.disabled {
        pointer-events: none;
    }
</style>


<div class="ball-container">
    {% if ball_count == 7 %}
        <div class="column">
            {% for i in range(1) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in range(1, 4) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in range(4, 7) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
    {% else %}
        <div class="column">
            {% for i in range(4) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in range(4, 7) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in range(7, 10) %}
                <div class="ball" id="ball{{ i }}" onclick="changeColor({{ i }})"></div>
            {% endfor %}
        </div>
    {% endif %}
</div>


<div class="container">
    <button class="submitButton" id="submitButton" disabled>Next</button>
</div>

<script>
    let hasClicked = false;
    const playerSignalColor = "{{ player_signal_color }}";
    function changeColor(index) {
        if (hasClicked) return;
        hasClicked = true;
        const ball = document.getElementById(`ball${index}`);
        ball.style.backgroundColor = playerSignalColor;
        const balls = document.getElementsByClassName('ball');
        for (let i = 0; i < balls.length; i++) {
            balls[i].classList.add('disabled');
        }
        document.getElementById('submitButton').disabled = false;
    }
</script>

{{ endblock }}
