{% load otreechat %}
   {{ block title }}
 <div style="text-align: center;">
    <h1>Chat</h1>
 </div>
    {{ endblock }}


{{ block content }}

<style>
    dialog {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .close-button {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
</style>

<style>
    .ribbon {
        position: relative;
        top: -16px;
        right: -706px;
    }
    .blue {
        color: blue;
    }
    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-size: 0.8em;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        equal-width: true;
    }
</style>

<button type="button" onclick="showInformation()">click to view the sources of balls!</button>

<dialog id="infoDialog">
    <img src="{% static 'global/urn_high_diff.png' %}" alt="Urns" width="80%" style="display: block; margin: auto;">
    <ul>
        <br>
        <li>This is where all voters got their balls.</li>
        <li>More detailed information please read the instructions we assigned to you.</li>
        <br>
    <button type="button" class="close-button" onclick="closeDialog()">Close</button>
    </ul>
</dialog>

<script>
function showInformation() {
    document.getElementById("infoDialog").showModal(); // Show the dialog
}

function closeDialog() {
    document.getElementById("infoDialog").close(); // Close the dialog
}
</script>

<br>
<br>
<br>

<div style="display: flex; justify-content: space-between;">
    <div style="flex: 1;">
        <br>
        <br>
        <br>
        <br>


<table border="1">
    <tr>
        <th></th>
        <th>Which Ball</th>
        <th>Which Box</th>
    </tr>
    {% for participant in participants_info %}
    {% if participant.is_chat_participant %}
    <tr>
        <td>
            {% if participant.is_self %}
                You (ID: voter {{ participant.id_in_group }})
            {% else %}
                Linked (ID: voter {{ participant.id_in_group }})
            {% endif %}
        </td>
        <td>
            <span style="{{ participant.player_signal_style }}"></span>
        </td>
        <td>
            <strong><em>{{ participant.quality_representation }}</em></strong>
        </td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for participant in participants_info %}
    {% if not participant.is_chat_participant %}
    <tr>
        <td>
            {% if participant.is_self %}
                You (voter {{ participant.id_in_group }})
            {% else %}
                Other (ID: voter {{ participant.id_in_group }})
            {% endif %}
        </td>
        <td>
            <span style="{{ participant.player_signal_style }}"></span>
        </td>
        <td>
            {% if not participant.is_self %}
                Unknown
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


    </div>

    <div style="flex: 1.9; padding-left: 20px;">
        <h6>Please see the information of the voter in your group on the left page.</h6>
        <h6>You have 2 minutes to chat. </h6>
        {% chat nickname=player.chat_nickname room=player.chat_room %}
    </div>
</div>



{{ endblock }}