{% load otreechat %}
   {{ block title }}
 <div style="text-align: center;">
    <h1>Chat</h1>
 </div>
    {{ endblock }}


{{ block content }}


<style>
    .ribbon {
        position: relative;
        top: -16px;
        right: -706px;
    }
    .blue {
        color: blue;
    }
    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-size: 0.8em;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        equal-width: true;
    }
</style>

<div style="display: flex; justify-content: space-between;">
    <div style="flex: 1.1;">
        <br>
        <br>
        <br>
        <br>
<table border="1">
    <tr>
        <th></th>
        <th>Which Ball</th>
        <th>Which Box</th>
    </tr>
    {% for participant in participants_info %}
    {% if participant.is_chat_participant %}
    <tr>
        <td>
            {% if participant.is_self %}
                You (ID: voter {{ participant.id_in_group }})
            {% else %}
                Connected (ID: voter {{ participant.id_in_group }})
            {% endif %}
        </td>
        <td>
            <span style="{{ participant.player_signal_style }}"></span>
        </td>
        <td>
            <strong><em>{{ participant.quality_representation }}</em></strong>
        </td>
    </tr>
    {% endif %}
    {% endfor %}

    {% for participant in participants_info %}
    {% if not participant.is_chat_participant %}
    <tr>
        <td>
            {% if participant.is_self %}
                You (voter {{ participant.id_in_group }})
            {% else %}
                Other (ID: voter {{ participant.id_in_group }})
            {% endif %}
        </td>
        <td>
            <span style="{{ participant.player_signal_style }}"></span>
        </td>
        <td>
            {% if not participant.is_self %}
                Unknown
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

    </div>

    <div style="flex: 1.9; padding-left: 20px;">
        <h6>Please see the information of the voter in your group on the left page.</h6>
        <h6>You have 2 minutes to chat. </h6>
        {% chat nickname=player.chat_nickname room=player.chat_room %}
    </div>
</div>

    <ul>
        <br>
        <br>
        <li><i>This is where all voters got their balls.</i></li>
    </ul>
<div style="text-align: center;">
   <img src="{% static 'global/urn_high_diff.png' %}" alt="Urns" width=30%">
</div>

{{ endblock }}