{% load otreechat %}
{{ block title }}Chat{{ endblock }}
{{ block content }}

{% for participant in participants_info %}
    <p>
        {% if participant.is_self %}
            Your ID is Voter {{ participant.id_in_group }}: Quality - {{ participant.quality }}, Signal - {{ participant.signal }}
        {% else %}
            You are linked with Voter {{ participant.id_in_group }}: Quality - {{ participant.quality }}, Signal - {{ participant.signal }}
        {% endif %}
    </p>
{% endfor %}


{% chat nickname=player.chat_nickname room=player.chat_room %}




{{ endblock }}
